@use "../../styles/variables.scss" as v;

.hero-banner__wrapper{
  background-color: v.$color-emerald-green;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > svg {
    position: absolute;
    bottom: 0;
    width: fit-content;
    height: 100%;
    @media #{v.$medium} {
      width: 100%;
      height: fit-content;
    }
  }
  padding-bottom: 9rem;
  @media #{v.$medium} {
    align-items: start;
  }
  .hero-banner__description {
    position: relative;
    z-index: 1;
  }
}

.wrapper--secondary{
  background-color: v.$color-beige-secondary;
  .hero-banner__content-wrapper h1, .hero-banner__content-wrapper h2{
    font-weight: 200;
    transition: all 1.5s ease;
  }
  .hero-banner__svg-primary{
    visibility: hidden;
    opacity: 0;
    transition: all 1.5s ease;
  }
  .hero-banner__svg-secondary{
    visibility: visible;
    opacity: 1;
    transition: all 1.5s ease;
  }
  transition: all 1.5s ease;
}

.wrapper--primary{
  background-color: v.$color-emerald-green;
  .hero-banner__content-wrapper h1, .hero-banner__content-wrapper h2{
    font-weight: 600;
    transition: all 1.5s ease;
  }
  .hero-banner__svg-primary{
    visibility: visible;
    opacity: 1;
    transition: all 1.5s ease;
  }
  .hero-banner__svg-secondary{
    visibility: hidden;
    opacity: 0;
    transition: all 1.5s ease;
  }
  transition: all 1.5s ease;
}

.hero-banner__svg-primary{
  visibility: visible;
  opacity: 1;
}
.hero-banner__svg-secondary{
  visibility: hidden;
  opacity: 0;
}

.hero-banner__main-wrapper{
  z-index: 1;
  position: relative;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  grid-gap: 6rem;
  @media #{v.$medium} {
    padding: 8rem 15rem;
  }
}

.hero-banner__content-wrapper{
  text-align: center;
  color: v.$color-navy-blue;
  h1{
    font-family: v.$font-family-display;
    font-size: 5.5rem;
    @media #{v.$medium} {
      font-size: 15rem;
    }
  }
  h2{
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    margin-bottom: 0.8rem;
    @media #{v.$medium} {
      font-size: 5.1rem;
      margin-bottom: 0;
      line-height: 5.1rem;
    }
  }
  p{
    font-family: v.$font-family-display;
    font-size: 1.6rem;
    @media #{v.$medium} {
      font-size: 2rem;
    }
  }
  @media #{v.$medium} {
    text-align: left;
    display: flex;
    flex-direction: column;
    grid-gap: 4rem;
  }
}

.hero-banner__language-wrapper{
  display: none;
  @media #{v.$medium} {
    display: flex;
    grid-gap: 1rem;
  }
}

.hero-banner__authors-wrapper{
  text-align: center;
  @media #{v.$medium} {
    display: flex;
    flex-wrap: wrap;
    max-width: 60rem;
    p{
      margin-right: 7rem;
    }
  }
}

.hero-banner__logo-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4.5rem;
  @media #{v.$medium} {
    display: flex;
    grid-gap: 5.5rem;
  }
}

