@use "./variables.scss" as v;
/* piazzolla-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 200;
  src: url('../../public/fonts/piazzolla-v29-latin-200.woff2') format('woff2'); /* Super Modern Browsers */
}
/* piazzolla-regular - latin */ 
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/piazzolla-v29-latin-regular.woff2') format('woff2'); /* Super Modern Browsers */
}
/* piazzolla-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 600;
  src: url('../../public/fonts/piazzolla-v29-latin-600.woff2') format('woff2');/* Super Modern Browsers */
}
/* piazzolla-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Piazzolla';
  font-style: normal;
  font-weight: 800;
  src: url('../../public/fonts/piazzolla-v29-latin-800.woff2') format('woff2'); /* Super Modern Browsers */
}
/* ibm-plex-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/ibm-plex-sans-v14-latin-regular.woff2') format('woff2');/* Super Modern Browsers */
}
/* ibm-plex-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../../public/fonts/ibm-plex-sans-v14-latin-italic.woff2') format('woff2'); /* Super Modern Browsers */
}
/* ibm-plex-sans-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/ibm-plex-sans-condensed-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: v.$font-family-base;
  font-size: v.$text-size-base;
  font-weight: v.$font-weight-regular;
  color: v.$color-black;
}

h2 {
  font-size: v.$text-size-heading;
  color: v.$color-navy-blue;
  font-family: v.$font-family-display;
  font-weight: 200;
  line-height: 4.5rem;
}

.small-hide{
  display: none;
}

@media #{v.$desktop} {
  h2 {
    font-size: v.$text-size-heading-desktop;
    line-height: 6.4rem;
  }

  body{
    font-size: v.$text-size-base-desktop;
  }

  .small-hide{
    display: block;
  }

  .medium-hide{
    display: none;
  }
}








