$font-family-base: 'IBM Plex Sans', 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-semi-bold: 800;

$color-navy-blue: #0A4262;
$color-emerald-green: #83D1BF;
$color-lime-green: #D4EDBC;
$color-beige-primary: #BAAA82;
$color-beige-secondary: #CEC5AF;
$color-gray: #CFD0C5;
$color-light-gray: #E4E9DD;
$color-black: #000000;
$color-white: #FFFFFF;

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$desktop: "(min-width: 992px)";

$text-size-base: 1.7rem;
$text-size-heading: 3.6rem;
$text-size-nav: 1.8rem;
$text-size-eye: 1.4rem;
$text-size-title: 2rem;
$text-size-map: 1.6rem;

$text-size-base-desktop: 2rem;
$text-size-heading-desktop: 6rem;
$text-size-eye-desktop: 3.2rem;
$text-size-title-desktop: 2.4rem;
