@use "../../styles/variables.scss" as v;

.logo-wrapper{
  svg, img{
    width: 100%;
    height: auto;
  }
}

@media #{v.$desktop} {
  .logo-wrapper{
    svg, img{
      width: 20rem;
      height: auto;
    }
  }
}
