@use "../../styles/variables.scss" as v;

.section-divider{
  position: relative;
  svg {
    position: absolute;
    bottom: -1px;
  } 
  transition: all 1.5s ease;
}

.divider--primary{
  background-color: v.$color-emerald-green;
}

.divider--secondary{
  background-color: v.$color-beige-secondary;
}
