@use "../../styles/variables.scss" as v;

.recommended-content__wrapper{
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  h6 {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.1em;
    padding-bottom: 3rem;
    border-bottom: 2px solid v.$color-emerald-green;
    font-weight: 400;
    color: v.$color-navy-blue
  }
  a {
    text-decoration: none;
    color: v.$color-navy-blue;
    div {
      display: flex;
      grid-gap: 2rem;
      p {
        font-size: v.$text-size-eye;
        font-family: v.$font-family-display;
      }
    }
  }
}
