@use "../../styles/variables.scss" as v;

.map-container{
  aside {
    z-index: 2;
    max-width: 45rem;
    position: absolute;
    background: #FFFFFF;
    border-radius: 1rem;
    font-style: normal;
    font-family: v.$font-family-description;
    font-size: 16px;
    line-height: 30px; 
    margin: 0 1rem;
    padding: 3rem;
    @media #{v.$desktop} {
      left: 60px;
      margin: unset;
      padding: 3rem 5rem;
    }
  }
}

.map-container {
  position: relative;
  height: 200vh; /* or whatever height you want for the container */
}

.map-wrapper {
  position: sticky;
  height: 100vh;
  top: 0;
  z-index: 1;
}
